frontend/node_modules
frontend/test-results

!logs/.gitkeep

!saved_models/.gitkeep

test_data/Data.txt
!test_data/.gitkeep

training_data/MavenTrainingData.json
!training_data/.gitkeep

util/__pycache__

venv

.env