frontend/node_modules
frontend/test-results

logs/*
!logs/.gitkeep

saved_models/*
!saved_models/.gitkeep

test_data/*
!test_data/.gitkeep

training_data/*
!training_data/.gitkeep

util/__pycache__

venv

.env